<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Page</h2>
    <input type="text" id="username" placeholder="Username">
    <button onclick="login()">Login</button>

    <script>
        function login() {
            document.cookie = "auth=true; path=/";
            window.location.href = "../dashboard/dashboard.html";
        }
    </script>
</body>
</html>
